.Login1 {
    background-color: #585858;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px; 
    height: 1000px;
}

.Login2 {
    width: 470px;
    margin-top: 20px;
    position: relative;
    height: fit-content;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 0.9em;
}

.btn {
    width: 300px;
}

.button {
    margin-left: -230px;
}

.link {
    color: white;
}
