.wishlist-wrapper {
  padding: 20px;
}

.wishlist-container {
  justify-content: center;
}

.wishlist-card {
  margin: 15px;
  height: auto; /* Adjust height as needed */
}

.wishlist-link {
  text-decoration: none;
  color: inherit;
  display: block;
  margin: 0 10px;
}

.price {
  margin: 20px 0;
  text-align: center;
  font-weight: 600;
}

.remove-button {
  display: block;
  margin: 10px auto;
  width: 200px;
  background-color: #343333;
}

.remove-button:hover {
  background-color: #5a5959;
}

.pnwish {
  margin-top: 33px;
}


.empty-wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px; 
  color: #333;
  font-size: 18px;
}
