.category-manager{
  background-color: #585858;
  height: 1000px;
}

.form-control-category{
  margin-top: 50px;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: none;
}


.category-table {
  margin: 20px auto;
  margin-top: 60px;
  width: 50%;
}

.table {
  border-radius: 5px;
  overflow: hidden;
}

.table thead.thead-dark th {
  background-color: #343a40;
  color: #f3f1f1;
}

.table tbody tr {
  transition: background-color 0.2s ease;

}

.table tbody tr:hover {
  background-color: #f2f2f2;
}

.table td, .table th {
  text-align: center;
  vertical-align: middle;
}

.btn-danger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group1{
  margin-left: 570px;
width: 350px;
}