.main-div {
    background-color: #EFF1F4;
    height: auto;
    width: 100%;
  }
  
  .main-div2 {
    background-color: rgb(255, 254, 254);
    padding: 20px;
    height: 300px;
    width: 1300px;
    margin-left: 7%;
  }
  
  .picture {
    width: 230px;
    height: 230px;
    background-size: cover;
    background-position: center;
  }
  
  .description {
    text-overflow: ellipsis;
    line-height: 1.5em;
    margin-top: 15px;
    max-width: 500px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .DandN {
    margin-left: 300px;
    margin-top: -230px;
  }
  .Listprice{
    margin-left: 1050px;
    margin-top: -190px;
    font-size:35px;
  }
  .List-Buy-now{
    margin-left: 950px;
    width: 150px;
    margin-top: 120px;
  }
  .List-Addtocart{
    margin-left: 10px;
    width: 150px;
    
  }
  .List-bankoffer{
    color:rgb(20, 189, 26);
    margin-left: 1050px;
    margin-top: -10px;
    font-size: 20px;
  }
  .List-EMI{
    color: rgb(34, 32, 32);
    margin-left: 1050px;
  }
  .List-Buttondiv{
    margin-top: -50px;
  }